.header {
  background-color: green;
}

.header__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar__link {
  font-size: 25px;
  font-weight: 500;
  color: whitesmoke;
  cursor: pointer;
}
